<nav>
    <div id="menu" class="collapse navbar-collapse">
        <ul>
        <% for(category of categories){%>
            <li class="menu-item"><a href="/category/<%=category.id%>"><%=category.title%></a></li>
        <% }%>
        </ul>
    </div>
</nav>


